# Information of Our Team

Melik Alp Atik 18069048
Cavid Haydari 19069928
Gulu Guliyev 19069931

# How We Prepared

On the first day, we zoomed in and discussed our knowledge.The next day we met and reviewed the homework introduction.
We spent 2 days completing our missing information.We learned about numpy, pandas and matplotlib libraries.
We did the homework with help from other sources and Google.

# The resources we use

https://scikit-learn.org/stable/modules/cross_validation.html
https://www.youtube.com/watch?v=gFzq_oz_mSQ&ab_channel=TirendazAkademi
https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
https://numpy.org/doc/stable/reference/random/generated/numpy.random.seed.html
https://www.kaggle.com/susanhuynh/ridge-and-lasso-regression-with-different-lambda

# Thanks

We took a step into data science to be able to do this assignment, we learned a lot Thank you

# Our Code

In [10]:
#First we need to load the libraries. numpy, pandas, sklearn and matplotlib.
#We can create arrays with Numpy.
#Reading and analyzing data with Pandas.
#Visualizing data with Matplotlib.
#We can achieve artificial intelligence learning and regressions with Sklearn

from os import replace                                    
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,cross_val_score,KFold
from sklearn import metrics
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

In [11]:
data = pd.read_excel("asg 1 - train data.xlsx") #With the help of the pandas library, we read the data first. 
                                                #Since it makes more sense to read the data as excel, 
                                                #I did not change it to csv file.


#The data must be numbers for us to process. So we converted them to numbers with the help of replace.        

data.replace({'Type':{'Gasoline':0 ,'Diesel':1 ,'LPG':2}},inplace=True)


#Normally this is not correct. We can't assign values other than 1 and 0. 
#We have to put them in columns and give values 1 and 0, but sorry we are not that knowledgeable,
#maybe we will do it in the next assignment :-)


data.replace({'Seller':{'Dealer':0 ,'Owner':1}},inplace=True)
data.replace({'Shift':{'Manual':0 ,'Auto':1}},inplace=True)



#With head we can show 5 rows of data, but if we write n = 10 in it, we will see the first 10 values

data.head()

   Price  Year  Type  Shift      km  Power  Engine  Seller
0  24900  2004     1      0  270000     70    1248       0
1  27500  2004     0      0  164000     75    1199       0
2  42500  2008     1      1  300000     90    1248       0
3  63750  2017     0      1    8780     90    1398       0
4  25000  2004     1      0  200000     70    1248       1

In [12]:
#Here we drop the Price column so that we can train the AI.

x = data.drop('Price',axis=1)

#We add this column to the new variable

y = data['Price']

#We see the values of the new variable

y.head()

0    24900
1    27500
2    42500
3    63750
4    25000
Name: Price, dtype: int64

In [13]:
#We see the values of the car data

x.head()

   Year  Type  Shift      km  Power  Engine  Seller
0  2004     1      0  270000     70    1248       0
1  2004     0      0  164000     75    1199       0
2  2008     1      1  300000     90    1248       0
3  2017     0      1    8780     90    1398       0
4  2004     1      0  200000     70    1248       1

In [14]:
#We separate our data set as training and test sets. 
#With test size, we determine what percentage is test and what percentage is training. 
#With random state, we get data from different places and our results are more accurate.

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state=50)

In [15]:
#Let's look at the row column via Shape, this is for us to examine our code and see if we made a mistake.

x_train.shape

(2175, 7)

In [16]:
y_test.shape #We didn't print them all for a clean look

(725,)

# Linear Regression

In [17]:
#Using the Linear Regression module from the included sklearn library. We create and feed the Linear Regression

lin = LinearRegression()
lin.fit(x_train, y_train)

LinearRegression()

In [18]:
#We make prediction with training data

predict_for_lin_xtest = lin.predict(x_test)

In [19]:
#Now we are reading your data, because now we have a trained code. We can estimate the Price over your values.

new_data=pd.read_csv("TestDataMGG.csv",delimiter=";",header=0) #I opened it as a csv file and ; 
                                                               #I used the values you wrote to separate

#We did the replace operation again

new_data.replace({'Type':{'Gasoline':0 ,'Diesel':1 ,'LPG':2}},inplace=True) 
new_data.replace({'Seller':{'Dealer':0 ,'Owner':1}},inplace=True)
new_data.replace({'Shift':{'Manual':0 ,'Auto':1}},inplace=True)

#We created an array of your data using numpy.

new_np_data=np.array(new_data)


#I keep this data for now. After examining other Regressions, 
#I will choose one and print this data accordingly to the Result.txt file.

### You can find the predict part at the bottom, I found and sorted all R2 Errors and found the model that gave the closest prediction.

In [20]:
#Now let's calculate R2 values in Linear with our training data.

print('linear model intercept (Theta_0): {:.1f}'.format(lin.intercept_))
print('linear model coeff (Theta_1): {}'.format(lin.coef_))
print('R2-Train',round(lin.score(x_train, y_train),10), 
       'R2-Test',round(lin.score(x_test, y_test),10))

#Our first model is Linear and the Train error value we got from there is 0.89257

linear model intercept (Theta_0): -3071194.8
linear model coeff (Theta_1): [ 1.54381703e+03  5.09096547e+02  4.41663454e+03 -4.31481359e-02
 -3.39723298e-01  8.28102386e+00  3.53076143e+02]
R2-Train 0.8925696194 R2-Test 0.8085863203

### Linear Regression with k-Fold Cross Validation

In [23]:
# We created a K Fold object with 5 partitions. We put it directly using the module and took the average of the result.

parts = KFold(n_splits = 5, shuffle = True, random_state = 50)
scores = cross_val_score(lin, x, y, scoring='r2', cv=parts)
round(scores.mean(),10)

# cross validation error is 0.87036
#I don't know the reason for rounding but this is how I always saw it in the codes I read on kaggle

0.8703553036

# Ridge Regression

In [27]:
# We tried different alpha values and did it through the for loop.

for this_alpha in [0, 0.01,0.1, 1, 2, 3, 4,10,20,30,40,50,85,100,125,175,1000, 10000,100000, 1000000, 10000000, 10000000, 100000000]:
#[0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40]:
    ridge = Ridge(alpha = this_alpha).fit(x_train, y_train) # Ridge we defined here
    r2_train = ridge.score(x_train, y_train)
    r2_test  = ridge.score(x_test,  y_test)
    print('Alpha = {:.2f}\n r-squared training: {:.10f}, r-squared test: {:.10f}\n'
         .format(this_alpha,r2_train, r2_test))

Alpha = 0.00
 r-squared training: 0.8925696194, r-squared test: 0.8085863203

Alpha = 0.01
 r-squared training: 0.8925696194, r-squared test: 0.8085865021

Alpha = 0.10
 r-squared training: 0.8925696179, r-squared test: 0.8085881359

Alpha = 1.00
 r-squared training: 0.8925694672, r-squared test: 0.8086043153

Alpha = 2.00
 r-squared training: 0.8925690136, r-squared test: 0.8086219562

Alpha = 3.00
 r-squared training: 0.8925682634, r-squared test: 0.8086392477

Alpha = 4.00
 r-squared training: 0.8925672210, r-squared test: 0.8086561944

Alpha = 10.00
 r-squared training: 0.8925550801, r-squared test: 0.8087508890

Alpha = 20.00
 r-squared training: 0.8925142898, r-squared test: 0.8088840220

Alpha = 30.00
 r-squared training: 0.8924510355, r-squared test: 0.8089896269

Alpha = 40.00
 r-squared training: 0.8923685729, r-squared test: 0.8090710925

Alpha = 50.00
 r-squared training: 0.8922697075, r-squared test: 0.8091313653

Alpha = 85.00
 r-squared training: 0.8918266626, r-squared test: 0.8092097067

Alpha = 100.00
 r-squared training: 0.8916036391, r-squared test: 0.8091942946

Alpha = 125.00
 r-squared training: 0.8912039209, r-squared test: 0.8091212806

Alpha = 175.00
 r-squared training: 0.8903471389, r-squared test: 0.8088529765

Alpha = 1000.00
 r-squared training: 0.8804778756, r-squared test: 0.8032237956

Alpha = 10000.00
 r-squared training: 0.8602466830, r-squared test: 0.7877163621

Alpha = 100000.00
 r-squared training: 0.7428168110, r-squared test: 0.6848708370

Alpha = 1000000.00
 r-squared training: 0.6433212443, r-squared test: 0.5959065133

Alpha = 10000000.00
 r-squared training: 0.6235155916, r-squared test: 0.5773504500

Alpha = 10000000.00
 r-squared training: 0.6235155916, r-squared test: 0.5773504500

Alpha = 100000000.00
 r-squared training: 0.6211624337, r-squared test: 0.5753147109

### Ridge Regression n-fold Cross Validation with Shuffling

In [29]:
# We need to find Cross Validation
# We find this using two different alpha values.
# First alpha value is 0

ridge=Ridge(alpha = 0)
parts = KFold(n_splits=5, shuffle=True, random_state=100)
scores = cross_val_score(ridge, x, y, scoring='r2', cv=parts)
scores.mean()

0.8671548231472157

In [30]:
# We need to find Cross Validation
# We find this using two different alpha values.
# First alpha value is 1000

ridge=Ridge(alpha = 1000)
parts = KFold(n_splits=5, shuffle=True, random_state=100)
scores = cross_val_score(ridge, x, y, scoring='r2', cv=parts)
scores.mean()

0.8570826026563015

## Lasso Regression

In [31]:
# We didn't purposely use loops here.
#We define Lasso, then print the R2 values.

lasso = Lasso().fit(x_train, y_train)
print('Intercept', lasso.intercept_)
print('Coeff',lasso.coef_)
print('R2-Train',round(lasso.score(x_train, y_train),10), 'R2-Test',round(lasso.score(x_test, y_test),10))

Intercept -3070679.037594817
Coeff [ 1.54356254e+03  5.06448861e+02  4.41005396e+03 -4.31594906e-02
 -3.00552246e-01  8.28141022e+00  3.48422216e+02]
R2-Train 0.8925695285 R2-Test 0.808603008

In [32]:
#We used different alpha values

lasso1 = Lasso(alpha=0.01).fit(x_train, y_train)
print('Intercept', lasso1.intercept_)
print('Coeff',lasso1.coef_)
print('R2-Train',round(lasso1.score(x_train, y_train),10), 'R2-Test',round(lasso1.score(x_test, y_test),10))

Intercept -3071189.659083246
Coeff [ 1.54381448e+03  5.09070070e+02  4.41656874e+03 -4.31482494e-02
 -3.39331614e-01  8.28102772e+00  3.53029604e+02]
R2-Train 0.8925696194 R2-Test 0.808586488

In [33]:
#We used different alpha values

lasso1000 = Lasso(alpha=1000).fit(x_train, y_train)
print('Intercept', lasso1000.intercept_)
print('Coeff',lasso1000.coef_)
print('R2-Train',round(lasso1000.score(x_train, y_train),10), 'R2-Test',round(lasso1000.score(x_test, y_test),10))

Intercept -2836596.5568094742
Coeff [ 1.42776588e+03  0.00000000e+00  0.00000000e+00 -5.59552427e-02
  1.62045568e+01  8.89085466e+00 -0.00000000e+00]
R2-Train 0.8692454363 R2-Test 0.7950448402

### Lasso Regression with k-fold Cross Validation

In [94]:
#cv with an alpha value of 0.01

lassocv001 = Lasso(alpha=0.01)
parts = KFold(shuffle=True, n_splits=5)
score = cross_val_score(lassocv001, x, y, cv=parts, scoring='r2')
scores.mean()

0.8570826026563015

In [95]:
#cv with an alpha value of 1000

lassocv1000 = Lasso(alpha=1000)
parts = KFold(shuffle=True, n_splits=5)
score = cross_val_score(lassocv1000, x, y, cv=parts, scoring='r2')
scores.mean()

0.8570826026563015

# R2 Sorting Train Errors

In [96]:
def sort(nums):
  
  for i in range(0,len(nums)):
      for j in range(0,len(nums)-1):
          if nums[j] > nums[j+1] :
              nums[j],nums[j+1]=nums[j+1],nums[j]
          else:
              continue
  print(nums)
  
dataList=[0.8934251597,0.8939218682,0.8838503995,0.8939218682,0.8742537307]
sort(dataList)

[0.8742537307, 0.8838503995, 0.8934251597, 0.8939218682, 0.8939218682]

In [97]:
#The Best R2 Train Error is Lasso Regression alpha=0.01 R2 train Error Value 0.8939218682
#So we will make our predictions on this

# Predict

In [35]:
#We will describe Lasso and train it later.

lassoforpredict=Lasso(alpha=0.01)
lassoforpredict.fit(x_train, y_train)

#Now guess the car price.
predict_price=lassoforpredict.predict(new_data)

In [37]:
# This allows us to create the file and print it there.
# We used for loop for Array
with open('Results.txt', 'w') as testfile:
    for i in predict_price:
        testfile.write(str(i)+"\n")
#There are 94 data